<style>

body {
    flex-direction: column;
    background-image: url('/assets/dog.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color:#464646;
} 

.bottom {
  position: relative;
  top: 140px;
}

.containerBox {
  position: relative;
  display: inline-block;
  padding: 20px;
}

.text-box {
  position: absolute;
  height: 40%;
  text-align: center;
  width: 100%;
  margin: auto;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  font-size: 30px;
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: 325px;
  margin: auto;
  padding: auto;
}

.dataNumber {
  margin-top: auto;
}

</style>

<div style="padding-top: 50px">
  <div class="container">
      <p class="flow-text">Explore</p>
  </div>
  <div class="container">
    <div class="row">
      <%= search_form_for @search do |f| %>
        <div class="input-field col s10">
          <i class="material-icons prefix">search</i>
          <%= f.text_field :name_cont, :class => "validate" %>
          <label for="icon_prefix">Search</label>
        </div>
        <div class="s2">
          <%= f.submit "Search", :class => "btn search-btn" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
<footer class="page-footer bottom grey lighten-3">
  <div class="container">
    <div class="row">
      <div class="col s4">
        <div class="containerBox">
          <div class="crop">
            <%= image_tag("products.jpg", :class => "crop container-shadow") %>
          </div>
          <div class='text-box'>
            <p class='dataNumber white-text cat-shadow'> Products </p>
          </div>
        </div>
      </div>
      <div class="col s4">
        <div class="containerBox">
          <div class="crop">
            <%= image_tag("parks.jpg", :class => "crop container-shadow") %>
          </div>
          <div class='text-box'>
            <p class='dataNumber white-text cat-shadow'> Services </p>
          </div>
        </div>
      </div>
      <div class="col s4">
        <div class="containerBox">
          <div class="crop">
            <%= image_tag("hotels.jpg", :class => "crop container-shadow") %>
          </div>
          <div class='text-box'>
            <p class='dataNumber white-text cat-shadow'> Stores </p>
          </div>
        </div>
      </div>
      <div class="col s4">
        <div class="containerBox">
          <div class="crop">
            <%= image_tag("events.jpg", :class => "crop container-shadow") %>
          </div>
          <div class='text-box'>
            <p class='dataNumber white-text cat-shadow'> Restraunts </p>
          </div>
        </div>
      </div>
      <div class="col s4">
        <div class="containerBox">
          <div class="crop">
            <%= image_tag("services.jpg", :class => "crop container-shadow") %>
          </div>
          <div class='text-box'>
            <p class='dataNumber white-text cat-shadow'> Parks </p>
          </div>
        </div>
      </div>
      <div class="col s4">
        <div class="containerBox">
          <div class="crop">
            <%= image_tag("dog10.jpg", :class => "crop container-shadow") %>
          </div>
          <div class='text-box'>
            <p class='dataNumber white-text cat-shadow'> Events </p>
          </div>
        </div>
      </div>
      <div class="col s4">
        <div class="containerBox">
          <div class="crop">
            <%= image_tag("dog20.jpg", :class => "crop container-shadow") %>
          </div>
          <div class='text-box'>
            <p class='dataNumber white-text cat-shadow'> Shelters </p>
          </div>
        </div>
      </div>
      <div class="col s4">
        <div class="containerBox">
          <div class="crop">
            <%= image_tag("dog30.jpg", :class => "crop container-shadow") %>
          </div>
          <div class='text-box'>
            <p class='dataNumber white-text cat-shadow'> Hotel </p>
          </div>
        </div>
      </div>
      <div class="col s4">
        <div class="containerBox">
          <div class="crop">
            <%= image_tag("dog40.jpg", :class => "crop container-shadow") %>
          </div>
          <div class='text-box'>
            <p class='dataNumber white-text cat-shadow'> Miscellaneous </p>
          </div>
        </div>
      </div>
    </div>
    <div class="container center">
            <div style="width: 728px; height: 90px; background: #428bca; color: #fff; line-height: 90px; text-align: center; ">LEADERBOARD</div>
    </div>
    </br>
  </div>
  <div class="footer-copyright">
    <div class="container black-text">
      © 2016 Roversreviews
    </div>
    <a class="btn tooltipped" data-position="top" data-delay="50" data-tooltip="As true dog lovers we want to make owning a dog a walk in the park. This website is a one stop site for dog owners nationwide, containing reviews on products, services, stores, parks, events, shelters, hotels, restaurants, and miscellaneous. Honest reviews, for dog owners, by dog owners! Dogs really are our passion. With the wonderful help of YEA (Young Entrepreneur's Academy) the 13 year-old founder was able to launch a real business, Rover's Reviews at www.RoversReview.com. Thank you for creating an account and helping a young entrepreneur.">About Us</a>
    <a class="btn tooltipped" data-position="top" data-delay="50" data-tooltip="Explore cost effective ways to reach dog owners in your area. Please email Emma@roversreview.com">Advertising</a>
    <a class="btn tooltipped" data-position="top" data-delay="50" data-tooltip="Rover's Reviews, operates www.RoversReview.com (the 'Site'). This page informs you of our policies regarding the collection, use and disclosure of Personal Information we receive from users of the Site. We use your Personal Information only for providing and improving the Site. 
By using the Site, you agree to the collection and use of information in accordance with this policy. Information Collection And Use While using our Site, we may ask you to provide us with certain personally identifiable information that can be used to contact or identify you. Personally identifiable information may include, but is not limited to your name ('Personal Information') and email address. We may use your Personal Information to contact you with newsletters, marketing or promotional materials and other information that is related to fur babies (our dogs).
Security - 
The security of your Personal Information is important to us, but remember that no method of transmission over the Internet, or method of electronic storage, is 100% secure. While we strive to use commercially acceptable means to protect your Personal Information, we cannot guarantee its absolute security. 
Changes To This Privacy Policy -  
This Privacy Policy is effective as of April 24, 2017 and will remain in effect except with respect to any changes in its provisions in the future, which will be in effect immediately after being posted on this page. We reserve the right to update or change our Privacy Policy at any time and you should check this Privacy Policy periodically. Your continued use of the Service after we post any modifications to the Privacy Policy on this page will constitute your acknowledgment of the modifications and your consent to abide and be bound by the modified Privacy Policy. If we make any material changes to this Privacy Policy, we will notify you either through the email address you have provided us, or by placing a prominent notice on our website. ">Privacy Information</a>

  </div>
</footer>